services:
  autouam:
    build: .
    restart: always
    environment:
      - CF_API_TOKEN
      - CF_ZONE_ID
      - CF_EMAIL
    volumes:
      - ./logs:/var/log/autouam
      - ./state:/var/lib/autouam
      - ./config.yaml:/etc/autouam/config.yaml:ro

volumes:
  autouam_logs:
